h1,
.web-dev {
    text-align: center;
}

h1 {
    background-color: lightcoral;
    margin-right: 30%;
    margin-left: 30%;

}

.jump-to {
    font-family: cursive;
}

ul {
    background-color: black;
    text-align: center;
}

ul:hover {
    margin-left: 30%;
    margin-right: 30%;
    transition: 2s ease-in-out;
}

ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    background-color: black;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    background-color: skyblue;
}