body {
    margin: 0;
    padding: 0;
    background: url(/photos/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-family: cursive;
}

h5 {
    color: red;
}

.box {
    border: 4px solid blue;
    width: 450px;
    background: black;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    border-radius: 10%;
}

.box-img {
    border: 6px solid red;
    border-radius: 50%;
    width: 200px;
    height: 170px;
}

.box h1 {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
}

h4 {
    text-align: start;
    color: red;
}

.box h5 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p {
    text-align: justify;
}

ul {
    list-style: none;
    display: grid;
}

a {
    text-decoration: none;
    color: white;
    list-style: none;
    letter-spacing: 3px;
}

ul li a:hover {
    background-color: blueviolet;
}
